[pattern]
name = {side}_{comp}{id}_{desc}{index}_{type}
titleize = True
id_padding = 1
index_padding = 2

[sides]
left = l
right = r
center = c
middle = c
front = f
back = b
top = t
bottom = b

[abbreviations]
joint = jnt
distanceBetween = db
transform = grp
setDrivenKey = sdk
curve = crv
multiplyDivide = md
multDoubleLinear = mdl
floatMath = fm
remapValue = rmp
decomposeMatrix = dm
multMatrix = mm
addMatrix = am
composeMatrix = cm
inverseMatrix = im
motionPath = mp
plusMinusAverage = pma
blendColors = bc
condition = cond
reverse = r
choice = ch
vectorProduct = vp
curveInfo = ci
clamp = clmp
blendTwoAttr = bta
shadingEngine = sg
surfaceShader = ss
control = ctrl
ikHandle = ikhandle
ikEffector = effector
tweak = twk
objectSet = set
dagPose = dps
container = ctr
dagContainer = ctr
locator = loc
annotationShape = annotation
target = trgt
expression = exp
softIK = sft
twistSolver = ts
