[format]
name = {side}_{name}{id}_{subname}{index}_{kinemat}_{type}
titleize = True
use_acronyms = True
id_padding = 1
index_padding = 2
abbreviate_typing = True

[sides]
left = l
right = r
center = c
middle = c
front = f
back = b
top = t
bottom = b

[acronyms]
control = ctrl
transform = grp
space = spc
joint = jnt
locator = loc
target = trgt
ikHandle = ikh
ikEffector = ike
ikSoftener = iks
container = ctr
dagContainer = ctr
distanceBetween = db
setDrivenKey = sdk
nurbsCurve = crv
multiplyDivide = md
addDoubleLinear = adl
subDoubleLinear = sdl
multDoubleLinear = mdl
divDoubleLinear = ddl
powDoubleLinear = pdl
sqrtDoubleLinear = sdl
floatMath = fm
linearMath = lm
vectorMath = vm
arrayMath = am
remapValue = rv
remapArray = ra
decomposeMatrix = dm
multMatrix = mm
addMatrix = am
composeMatrix = cm
inverseMatrix = im
breakMatrix = bm
motionPath = mp
plusMinusAverage = pma
blendColors = bc
condition = cond
reverse = r
choice = ch
vectorProduct = vp
curveInfo = ci
clamp = clmp
blendTwoAttr = bta
blendTransform = bt
shadingEngine = sg
surfaceShader = ss
tweak = twk
objectSet = set
dagPose = dps
expression = exp
twistSolver = ts
spaceSwitch = sw
rfbSolver = rbf
