[format]
name = {side}_{name}{id}_{subname}{index}_{kinemat}_{type}
titleize = True
use_acronyms = True
id_padding = 2
index_padding = 2
abbreviate_typing = True

[sides]
left = l
right = r
center = c
front = f
back = b
top = t
bottom = b

[acronyms]
control = ctrl
transform = grp
space = spc
joint = jnt
locator = loc
target = trgt
lookAt = la
ikHandle = ikh
ikEffector = ike
ikSoftener = iks
ikEmulator = ike
container = ctr
dagContainer = ctr
distanceBetween = db
setDrivenKey = sdk
nurbsCurve = crv
curveFromPoint = cfp
multiplyDivide = md
addDoubleLinear = adl
subDoubleLinear = sdl
multDoubleLinear = mdl
divDoubleLinear = ddl
powDoubleLinear = pdl
sqrtDoubleLinear = sdl
revDoubleLinear = rdl
floatMath = fm
vectorMath = vm
arrayMath = am
remapValue = rv
remapArray = ra
decomposeMatrix = dm
multMatrix = mm
addMatrix = am
composeMatrix = cm
composeTransform = ct
inverseMatrix = im
breakMatrix = bm
pickMatrix = pm
aimMatrix = am
multiplyVectorByMatrix = mvm
multiplyPointByMatrix = mpm
motionPath = mp
plusMinusAverage = pma
blendColors = bc
condition = con
reverse = r
choice = ch
vectorProduct = vp
curveInfo = ci
clamp = clmp
blendTwoAttr = bta
blendTransform = bt
shadingEngine = sg
surfaceShader = ss
tweak = twk
objectSet = set
dagPose = dps
expression = exp
twistSolver = ts
spaceSwitch = sw
rbfSolver = rbf
nearestPointOnCurve = npc
length = len
skinCluster = sc
blendShape = bs